{% extends "layout.html" %}

{% block contente%}
	<h1 class="title">Prección de casos de Covid</h1>

	<div class="container">
		<h2>Problematica</h2>

		<p class="text-information">Actualmente, el SARS-Cov-2 (coronavirus) ha causado una de las mayores crisis de salud en los últimos años, no solo afectando la salud, sino también la economía y la sociedad. El nuevo coronavirus afecta el tracto respiratorio, puede ser leve o grave, como insuficiencia respiratoria aguda y neumonía. Debido a la propagación del virus, cada persona infecta entre 1.5 y 3.5 personas, una tasa muy alta [1]. Por tanto, la prevención sigue siendo la mejor estrategia. Los métodos basados ​​en el aprendizaje automático proponen modelos predictivos utilizando datos de coronavirus para aplicar nuevas medidas correctivas, asignación óptima de recursos e implementar estrategias para manejar de mejor manera la epidemia de COVID-19 en nuestro país [2]. </p>

		<p class="text-information">Uno de los principales problemas sobre este acontecimiento es que no se sabe con certeza quién está infectado y quién no. Por otro lado, no siempre se puede determinar cuántos de nuestros contactos cercanos están contagiados (posiblemente por ser asintomáticos). Por último, este tipo de epidemias aumentó a un ritmo exponencial. Este crecimiento exponencial desbordó nuestro sistema de salud en unas pocas semanas y nadie estuvo preparado para afrontar esta situación. </p>

		<p class="text-information">Esta calculadora de caso de covid esta basada en un modelo de Machile Learning
		que usa Regresion lineal de fondo para poder predecir de manera obtima la cantidad de nuevos casos por día</p>
	</div>
	
{% endblock %}

	
